{% extends "base.html.twig" %}

{% block title %} Connexion utilisateur {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success SuccessContact">
            {{ message }}
        </div>
    {% endfor %}

    <h1> Entrez vos informations pour vous connecter </h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("security_login") }}" method="post">

        <div class="connectField">
            <label class="form-control label"> Nom d'utilisateur </label>
            <input class="form-control input" placeholder="Nom d'utilisateur" required type="text" name="_username"
                   value="{{ last_username }}">
        </div>

        <div class="connectField">
            <label class="form-control label"> Mot de passe </label>
            <input class="form-control input" placeholder="Mot de passe" required type="password" name="_password">
        </div>

        <div class="connectField">
            <label class="form-control label" for="remember_me">Connexion automatique</label>
            <input class="form-control input" type="checkbox" id="remember_me" name="_remember_me" checked/>
        </div>

        <button type="submit" class="form-control submit"> Connexion </button>
    </form>
{% endblock %}