{% extends "base.html.twig" %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div id="SuccessContact" class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<h1> Bienvenue sur l'accueil !</h1>

	<div class="meteo">
		<h2 id="nomVille"></h2>
		<div class="d-flex justify-content-around">
			<img id="icone" alt="image temps météo" src="">
			<div>
				<p id="condition"> <span id="day"></span></p>
				<p>Température Min = <span id="tempMin"></span></p>
				<p>Température Max = <span id="tempMax"></span></p>
			</div>
		</div>


	</div>
{% endblock %}