{% extends "base.html.twig" %}

{% block title %} Présentation du club {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success SuccessContact">
            {{ message }}
        </div>
    {% endfor %}

    <h1> La vie au club </h1>
    <h2> Présentation </h2>
    {% for article in articles %}
        <div class="postClub">
            <h3><em class="fas fa-basketball-ball"></em>{{ article.title }}</h3>
            <div>
                {{ article.content | raw}}
            </div>
            {% if is_granted("ROLE_EDITOR") %}
                <a href="{{ path("modifierArticleClub", {"slug": article.slug}) }}">Modifier</a>
            {% endif %}
        </div>
    {% endfor %}
    <h2> Trombinoscope du club </h2>

    <h3> Membres du bureau</h3>
    <h3> Arbitres Officiels</h3>
    <h3> Officiel de table de marque (OTM)</h3>
{% endblock %}