{% extends "base.html.twig" %}

{% block title %} Présentation du club {% endblock %}

{% block body %}
    <h1> La vie au club </h1>
    <h2> Présentation </h2>
    <h2> Trombinoscope - Membres du bureau </h2>
{% endblock %}