{% extends "base.html.twig" %}

{% block title %} Administration Boutique {% endblock %}

{% block body %}
    {% include "security/compte.nav.html.twig" %}

    <h1>Gestion de la Boutique</h1>

    <a href="{{ path("addProduit") }}">Ajouter un produit</a>

{% endblock %}