html, body
{
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

#name
{
    text-align: center;
    font-weight: bold;
    color: white;
    padding-left: 1%;
    font-size: 1.5em;
    margin-top: 15px;
}

#nomClub
{
    display: flex;
    justify-content: space-between;
}

#nomClub a
{
    color: white;
}

#connexion
{
    margin-top: 10px;
    padding-right: 1%;
    font-weight: bold;
    display: flex;
    font-size: 1.3em;
}

#connexion a, #connexion p
{
    color: white;
    padding-right: 10px;
}

#connexion p
{
    margin-top: 0px;
}

#connexion a:hover, #name a:hover
{
    color: #ef8108;
}

a
{
    text-decoration: none !important;
}

nav
{
    background-color: #074592;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
}

img
{
    width: 160px;
    margin-top: -74px;
}

nav a, #nav-team
{
    color: white;
    font-size: 2em;
    font-family: "Alegre Sans", serif;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#triangle
{

}

#bloc-team
{
    text-align: center;
    margin-left: 11px;
    padding-left: 14px;
    padding-top: 30px;
    background-color: #074592;
    position: relative;
    top: -10px;
    display: none;
    border-radius: 5px;
    margin-right: 13px;
}

#bloc-team p
{
    color: white;
    font-size: 1.5em;
    font-family: "Alegre Sans", serif;
    cursor: pointer;
}

#bloc-team a
{
    color: white;
    font-size: 1.3em;
    font-family: "Alegre Sans", serif;
    cursor: pointer;
}

#girlTeam
{
    padding-left: 6px;
    position: relative;
    top: -3px;
    z-index: 100;
}

#boyTeam
{
    margin-left: -18px;
    position: relative;
    padding-bottom: 20px;
    z-index: 100;
}

#listBoy
{
    left: 65px;
    border-radius: 5px;
    top: -8px;
    padding-top: 12px;
    background-color: #074592;
    position: absolute;
    display: none;
    width: 100%;
    z-index: 99;
}

#listGirl
{
    left: 65px;
    border-radius: 5px;
    top: -55px;
    padding-top: 59px;
    background-color: #074592;
    position: absolute;
    display: none;
    width: 100%;
    z-index: 99;
}

#listGirl a
{
    position: relative;
    top:-3px;
}

nav li
{
    margin-top: -4px;
}


nav a:hover, #nav-team:hover, #bloc-team p:hover, #bloc-team a:hover
{
    color: #ef8108;
}

#nav
{
    background-color: #074592;
    padding: 1px;
    position: fixed;
    width: 100%;
    z-index: 100;

}

#navigation-left, #navigation-right
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.active
{
    color: #ef8108 !important;
}

.activeCompte
{
    background-color: #dd650f !important;
    color: white !important;
}

h1
{
    text-align: center;
    color: black;
    padding-top: 170px;
    padding-bottom: 30px;
}

.menu
{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

ul
{
    padding: 0;
}

nav ul li
{
    position: relative;
}

nav > ul li:hover #bloc-team
{
    display: block;
}

nav > ul li ul li:hover #listBoy, nav > ul li ul li:hover #listGirl
{
    display: block;
}






                                                        /* CONTACT */

.label
{
    color: white !important;
    background-color: #074592 !important;
    margin-right: 20px;
    width: 30% !important;
    text-align: center;
}

.input
{
    margin-bottom: 40px !important;
}

.submit
{
    background-color: #074592 !important;
    width: 20% !important;
    margin: auto !important;
    margin-bottom: 20px !important;
    color: white !important;
}

.submit:hover
{
    background-color: #ef8108 !important;
}

.divForm
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px !important;
}

.connectField
{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 20px !important;
}

.errorForm
{
    color: #dd650f;
}

#SuccessContact
{
    top: 150px;
    position: relative;
    text-align: center;
    margin: auto;
}

                                        /* EQUIPE */

.score
{
    height: 500px !important;
}



                                        /* Compte */

.menu-compte
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    top: 134px;
}

.menu-compte a
{
    color: white;
    padding: 12.5px;
    display: block;
}

.menu-compte a:hover
{
    color: white;
}

.menu-compte div
{
    background-color: #074592;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-right: 5px white solid;
}

#compte4
{
    border-right: 0;
}

.testdiv
{
    width: 58px !important;
    height: 50px;
    background-color: #074592 !important;
    margin-top: -34px;
    margin-bottom: -10px;
    margin-left: -57px;
}

.barre
{
    width: 10px;
    height: 80px;
    transform: rotate(45deg);
    background-color: white;
    margin-top: -25px;
    margin-bottom: -50px;
    margin-left: 14px;
}

                                /* Gestion Administration */

.confirm
{
    display: none;
}
