html, body
{
    margin: 0;
    padding: 0;
}

#name
{
    text-align: center;
    font-weight: bold;
    color: white;
    padding-left: 1%;
    font-size: 1.5em;
    margin-top: 15px;
}

#nomClub
{
    display: flex;
    justify-content: space-between;
}

#nomClub a
{
    color: white;
}

#connexion
{
    margin-top: 10px;
    padding-right: 1%;
    font-weight: bold;
    display: flex;
    font-size: 1.3em;
}

#connexion a, #connexion p
{
    color: white;
    padding-right: 10px;
}

#connexion p
{
    margin-top: 0px;
}

#connexion a:hover, #name a:hover
{
    color: #ef8108;
}

a
{
    text-decoration: none !important;
}

nav
{
    background-color: #074592;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
}

img
{
    width: 160px;
    margin-top: -74px;
}

nav a
{
    color: white;
    font-size: 2em;
    font-family: "Alegre Sans";
    padding-left: 20px;
    padding-right: 20px;
}

nav li
{
    list-style: none;
    margin-top: -4px;
}

nav a:hover
{
    color: #ef8108;
}

#nav
{
    background-color: #074592;
    padding: 1px;
    position: fixed;
    width: 100%;
    z-index: 100;

}

#navigation-left, #navigation-right
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.active
{
    color: #ef8108;
}

h1
{
    text-align: center;
    color: #074592;
    padding-top: 170px;
}

.menu
{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

                                                        /* CONTACT */

#contact
{
    width: 80%;
    margin: auto;
    margin-top: 50px !important;
}

#labelContactSurname, #labelContactName, #labelContactEmail, #labelContactObjet, #labelContactMessage
{
    color: white;
    background-color: #074592;
    border-radius: 5px;
    margin-right: 20px;
    width: 20%;
    text-align: center;
}

.inputContact
{
    color: white;
    margin-bottom: 40px;
    background-color: #074592;
    padding: 8px;
    border: 2px #074592 solid;
    border-radius: 5px;
}

#submitContact
{
    background-color: #074592;
    width: 40%;
    margin: auto;
    margin-bottom: 20px !important;
    color: white;
}

#submitContact:hover
{
    background-color: #ef8108;
}


.divContact
{
    display: flex;
    width: 80%;
    margin: auto;
}
