
/* Responsive Tablette */

@media all and (max-width: 992px)
{
    nav a, #nav-team
    {
        font-size: 1.6em;
    }
    
    img
    {
        width: 110px;
        margin-top: -47px;
    }
    
    #bloc-team
    {
        left: 6px;
        margin-left: 1px;
    }
    
    #bloc-club
    {
        margin-top: -11px;
    }
    
    .postClub a
    {
        width: 50%;
    }
    
    #name
    {
        margin-top: 14px;
        margin-left: 15px;
        font-size: 1em !important;
    }
    
    #connexion
    {
        font-size: 1em !important;
    }
    
    .confirm
    {
        width: 90%;
    }
    
    .divTitle, .articles
    {
        width: 35%;
    }
    
    .divPhoto
    {
        margin-bottom: 50px;
        width: 33%;
    }
    
    .bigBlocMember
    {
        flex-direction: column;
    }
    
    .menu-compte
    {
        top: 127px;
    }
    
                                            /* Page équipe et article */
    
    .diapos
    {
        width: 300px !important;
        height: 200px !important;
    }
    
    .diaporama
    {
        margin-left: -300px;
        margin-top: 50px;
    }
    
    .blocAutrePhoto
    {
        margin-bottom: 300px;
    }
    
    .play, .pause, .chevron-gauche, .chevron-droit
    {
        top: 125px;
    }
    
    .chevron-gauche
    {
        margin-left: -250px;
    }
    
    .chevron-droit
    {
        margin-left: 190px;
    }
    
    .imageAggrandit
    {
        width: 750px !important;
    }
    
    .postContent .imageImportant
    {
        width: 600px !important;
    }
    
    .blocAutrePhotoArticle
    {
        margin-bottom: 330px;
    }
    
    .blocAutrePhotoArticle .play, .blocAutrePhotoArticle .pause, .blocAutrePhotoArticle .chevron-gauche,
    .blocAutrePhotoArticle .chevron-droit
    {
        top: 70px;
    }
    
    .addPhotoArticle
    {
        margin-bottom: -250px;
    }
    
    
    
    
                                            /* Accueil */
    
    .postNews .aggrandirImage
    {
        margin: auto;
    }
    
    .blocNews
    {
        flex-direction: column;
    }
    
    .postNews .imageImportant
    {
        border: 5px #074592 solid;
        margin-top: -12px;
    }
    
    .blocDiapo
    {
        width: 250px !important;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 165px;
    }
    
    .blocDiapo a .modifierDiapo
    {
        margin-top: 90px;
    }
    
    .item
    {
        width: 250px;
        height: 200px;
    }
    
    .carousel img
    {
        width: 250px;
        height: 200px;
    }
    
    .carousel .item:nth-child(1)
    {
        transform: rotateY(0deg) translateZ(250px);
    }
    
    .carousel .item:nth-child(2)
    {
        transform: rotateY(60deg) translateZ(250px);
    }
    
    .carousel .item:nth-child(3)
    {
        transform: rotateY(120deg) translateZ(250px);
    }
    
    .carousel .item:nth-child(4)
    {
        transform: rotateY(180deg) translateZ(250px);
    }
    
    .carousel .item:nth-child(5)
    {
        transform: rotateY(240deg) translateZ(250px);
    }
    
    .carousel .item:nth-child(6)
    {
        transform: rotateY(300deg) translateZ(250px);
    }
    
    .blocDiapo .chevron-gauche
    {
        top: 85px;
        margin-left: -380px;
    }
    
    .blocDiapo .chevron-droit
    {
        top: 85px;
        margin-left: 285px;
    }
    
                                            /* Gestion club, equipe, membre */
    .bigBlocMember .blocTeam
    {
        margin: auto;
    }
    
    .nameSponsor
    {
        margin-left: 0;
    }
    
                                            /* page club */
    
    .sponsors .play, .sponsors .pause, .sponsors .chevron-gauche, .sponsors .chevron-droit
    {
        top: 75px;
    }
    
    .trombiBureau
    {
        width: 50%;
    }
    
    .sponsors
    {
        margin-bottom: 350px;
    }
    
                                            /* Page Photo */
    
    .allPhotos .picture
    {
        width: 80%;
    }
    
    .allPhotos img
    {
        width: 600px;
        height: 500px;
    }
    
                                            /* Gestion boutique */
    
    .produitAffichage
    {
        width: 50%;
    }
    
    .imageImportanteFull, .fullImage
    {
        width: 700px;
        height: 500px;
        margin-left: -348px;
        top: 67px;
    }
    
    .viewOrder
    {
        width: 44%;
    }
    
}










                                            /* Responsive Mobile */

@media all and (max-width: 768px)
{
    .menu-hamburger
    {
        display: flex;
        justify-content: center;
    }
    
    .menu-hamburger p
    {
        color: white;
        font-weight: bold;
        margin-right: 20px;
    }
    
    .hamburger, .close-hamburger
    {
        width: 40px;
        position: relative;
        cursor: pointer;
    }
    
    .close-hamburger
    {
        display: none;
    }
    
    .nameMobile
    {
        display: flex;
        font-size: 1em !important;
        font-weight: bold;
    }
    
    .nameMobile a:hover
    {
        color: #ef8108 !important;
    }
    
    .nameMobile p
    {
        margin-top: 11px;
        margin-left: 5px;
    }
    
    .menu, #name
    {
        display: none;
    }
    
    .nameMobile a:hover
    {
        color: #ef8108;
    }
    
    .nameMobile img
    {
        width: 70px;
        margin-top: 0px;
    }
    
    #connexion
    {
        flex-direction: column;
        padding-right: 4%;
    }
    
    #connexion a
    {
        font-size: 0.8em;
    }
    
    #connexion p
    {
        display: none;
    }
    
    .trait-1, .trait-2, .trait-3, .trait-4, .trait-5
    {
        width: 30px;
        background-color: #ef8108;
        height: 4px;
        position: absolute;
        z-index: 101;
        border-radius: 5px;
    }
    
    .trait-2
    {
        top: 10px;
    }
    
    .trait-3
    {
        top: 20px;
    }
    
    .trait-4
    {
        top: 9px;
        transform: rotate(45deg);
    }
    
    .trait-5
    {
        top: 9px;
        transform: rotate(-45deg);
    }
    
    .menu
    {
        padding-bottom: 300px;
        text-align: left;
        padding-left: 20px;
    }
    
    nav li
    {
        margin-top: 4px;
    }
    
    #logo
    {
        display: none;
    }
    
    #navigation-left, #navigation-right
    {
        display: block;
    }
    
    #bloc-club
    {
        left: 84px;
        margin-top: -66px;
        width: 170%;
    }
    
    #bloc-club li:nth-child(2)
    {
        margin-top: -15px;
    }
    
    #navigation-left li:nth-child(3)
    {
        height: 30px;
    }
    
    #nav-club
    {
        padding-right: 0;
    }
    
    .menu-titre
    {
        width: 100px;
    }
    
    #bloc-club li
    {
        padding-left: 0;
        padding-right: 0;
    }
    
    .postClub a
    {
        width: 80%;
    }
    
    #bloc-team
    {
        left: 84px;
        margin-top: -30px;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 20px;
    }
    
    #bloc-team li:nth-child(2)
    {
        top: -15px;
    }
    
    #bloc-team li:nth-child(3)
    {
        top: -25px;
    }
    
    #listBoy
    {
        top: -17px;
    }
    
    #listGirl
    {
        top: 8px;
    }
    
    #listLoisir
    {
        top: 20px;
    }
    
    #boyTeam
    {
        padding-bottom: 0;
    }
    
    #girlTeam
    {
        top: 20px;
        padding-right: 40px;
    }
    
    #loisirTeam
    {
        top: 35px;
        padding-right: 40px;
    }
    
    #navigation-right li:nth-child(2)
    {
        left: -1px;
    }
    
    h1
    {
        margin-right: 5%;
        margin-left: 5%;
    }
    
    h2
    {
        text-align: center;
    }
    
    h3
    {
        font-size: 1.5em !important;
    }
    
    .bandeRight
    {
        display: none;
    }
    
    .news
    {
        margin: auto;
        width: 100%;
    }
    
    .bloc-score
    {
        width: 90% !important;
    }
    
    .addInscription
    {
        flex-direction: column;
    }
    
    .addInscription button
    {
        width: 50%;
        margin: auto;
    }
    
    .input
    {
        margin-bottom: 20px !important;
        width: 50% !important;
    }
    
    .submit
    {
        margin-top: 20px !important;
        width: 50% !important;
    }
    
    .formInscription
    {
        margin-top: 50px;
    }
    
    .bloc-inscription div
    {
        flex-direction: column;
    }
    
    .divObligatoire
    {
        flex-direction: row !important;
        width: 100%;
    }
    
    .bloc-inscription input, .bloc-inscription label
    {
        width: 100% !important;
    }
    
    .connectField, .forgottenMDP div
    {
        flex-direction: column;
    }
    
    .connectField .label, .connectField .input, .forgottenMDP label, .forgottenMDP input
    {
        width: 100% !important;
    }
    
    .connect
    {
        flex-direction: column;
    }
    
    .connect a
    {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .post h1
    {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5em;
    }
    
    .addCommentPost
    {
        flex-direction: column;
    }
    
    .addCommentButton
    {
        width: 50%;
        margin: auto;
        margin-top: 20px;
    }
    
    .showComment
    {
        width: 80%;
    }
    
    .yesSup, .noSup
    {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    
    .confirm
    {
        height: 200px;
    }
    
    .confirm p
    {
        padding: 5px;
    }
    
    .confirmationSupCom .confirm
    {
        margin-top: -125px;
    }
    
    .addComment div, .blocEditComment div
    {
        flex-direction: column;
    }
    
    .addComment label, .addComment input, .blocEditComment label, .blocEditComment input
    {
        width: 100% !important;
    }
    
    .blocProfil
    {
        flex-direction: column;
    }
    
    .menu-compte
    {
        top: 130px;
        flex-direction: column;
    }
    
    .menu-compte div
    {
        width: 90% !important;
        margin: auto;
        margin-bottom: 10px;
    }
    
    #compte1
    {
        border-left: 0;
    }
    
    .profilPicture, .profilPictureVide
    {
        margin: auto;
    }
    
    .profil
    {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .actionProfil
    {
        width: 75%;
        margin: auto;
    }
    
    .confirmationSupPhoto .yesSup, .confirmationSupPhoto .noSup
    {
        top: 0;
    }
    
    .editInfosUser div
    {
        flex-direction: column;
    }
    
    .editInfosUser label, .editInfosUser input
    {
        width: 100% !important;
    }
    
    .editMDP div, .editPhoto div
    {
        flex-direction: column;
    }
    
    .editMDP label, .editMDP input, .editPhoto label, .editPhoto input
    {
        width: 100% !important;
    }
    
    /* Gestion ARTICLES */
    
    .divPost
    {
        margin-bottom: 100px;
    }
    
    .divPost, #trierArticle
    {
        flex-direction: column;
    }
    
    .headArticle p
    {
        display: none !important;
    }
    
    #trierArticle div
    {
        margin: auto;
    }
    
    #h2Article
    {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .divTitle, .divCategory
    {
        margin: auto;
        width: inherit;
    }
    
    .divCategory
    {
        margin-top: 20px;
    }
    
    .actionPost
    {
        justify-content: center;
    }
    
    .actionPost .confirm
    {
        margin-top: -130px;
    }
    
    .addArticleForm div, .editArticleForm div, .contact div, .addColorForm div, .addProduitForm div
    {
        flex-direction: column;
    }
    
    .addArticleForm label, .addArticleForm input, #article_prioritaire, .editArticleForm label,
    .editArticleForm input, .contact label, .contact input, #contact_objet, #contact_message,
    .addColorForm label, .addColorForm input, #caracteristique_produit, .addProduitForm label,
    .addProduitForm input
    {
        width: 100% !important;
    }
    
    #article_category
    {
        width: 100% !important;
    }
    
    #article_category label
    {
        position: relative;
        top: -25px;
    }
    
    #article_category input
    {
        margin-left: 40px;
    }
    
    .afficherPhotoArticle
    {
        width: 80%;
    }
    
    /* Gestion CLUB - EQUIPES */
    
    
    .addTeamForm label, .addTeamForm input, #equipe_type, .editTeamForm label, .editTeamForm input
    {
        width: 100% !important;
    }
    
    .divPhoto
    {
        margin-bottom: 50px;
        width: 50%;
    }
    
    .blocPhotoEdit
    {
        flex-direction: row !important;
    }
    
    .blocPhotoEdit img
    {
        width: 125px;
        height: 125px;
    }
    
    
    /* Gestion CLUB - MEMBRES */
    
    .bigBlocMember .compteTeam, .bigBlocOther .compteTeam
    {
        flex-direction: column;
        margin-bottom: 50px;
        width: 100%;
    }
    
    .bigBlocMember .nameTeam, .bigBlocOther .nameTeam
    {
        margin-right: 0;
    }
    
    .bigBlocOther .actionMember
    {
        width: 100%;
    }
    
    .blocActionMember
    {
        margin-top: 40px;
    }
    
    #addTeam, .bigBlocTeam, .addTeamForm div, .editTeamForm div
    {
        flex-direction: column;
    }
    
    #addTeam a, #addMembre a, #addSponsor a
    {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .nameSponsor
    {
        margin: auto;
    }
    
    /* Gestion USERS */
    
    .userEmail, .userFonction
    {
        display: none;
    }
    
    .actionLien .confirm
    {
        margin-top: -160px;
    }
    
    .actionLien .yesSup, .actionLien .noSup
    {
        top: 25px;
    }
    
    .editRolesForm div, .editInfosUser
    {
        flex-direction: column;
    }
    
    .editRolesForm label, .editRolesForm input, #user_role_roles
    {
        width: 100% !important;
    }
    
    #user_role_roles label
    {
        position: relative;
        top: -25px;
    }
    
    #user_role_roles input
    {
        margin-left: 40px;
    }
    
    .blocEditUser .actionProfil
    {
        width: 80%;
    }
    
    /* Gestion TRAININGS */
    
    .listEquipe
    {
        flex-direction: column;
    }
    
    #h2Convoc
    {
        margin-right: 0;
        padding-bottom: 20px;
    }
    
    .listEquipe div
    {
        margin: auto;
    }
    
    .addConvocForm div, .editConvocForm div
    {
        flex-direction: column;
    }
    
    .addConvocForm label, .addConvocForm input, .editConvocForm label, .editConvocForm input, #convocation_equipes,
    #convocation_day, #convocation_horaire
    {
        width: 100% !important;
        text-align: center;
    }
    
    .hourMinuteForm div
    {
        flex-direction: row;
    }
    
    /* Page Equipe */
    
    .imageImportant
    {
        width: 280px !important;
        height: 200px !important;
    }
    
    .imageAggrandit
    {
        width: 300px !important;
        height: 250px !important;
        margin-top: -234px !important;
    }
    
    .afficherPhotoEquipe
    {
        width: 80%;
    }
    
    .diaporama
    {
        margin-left: -200px !important;
    }
    
    .diapos
    {
        width: 200px !important;
        height: 150px !important;
    }
    
    .cercle
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    
    .chevronPlay-part1
    {
        top: 18px;
        left: 5px;
        width: 22px;
        height: 4px;
    }
    
    .chevronPlay-part2
    {
        top: 14px;
        left: 13px;
        width: 19px;
        height: 4px;
    }
    
    .chevronPlay-part3
    {
        top: 23px;
        left: 14px;
        width: 18px;
        height: 4px;
    }
    
    .chevronPause-part1
    {
        top: 18px;
        height: 5px;
        width: 25px;
        left: 2px;
    }
    
    .chevronPause-part2
    {
        top: 18px;
        height: 5px;
        width: 25px;
        left: 13px;
    }
    
    .play, .pause
    {
        margin-left: -24px;
        top: 105px;
    }
    
    .chevron-gauche
    {
        top: 105px;
        margin-left: -150px;
    }
    
    .chevron-droit
    {
        margin-left: 110px;
        top: 105px;
    }
    
    .chevronG-part1, .chevronG-part2, .chevronD-part1, .chevronD-part2
    {
        width: 17px;
        height: 5px;
    }
    
    .chevronG-part1
    {
        top: 22px;
        left: 10px;
    }
    
    .chevronG-part2
    {
        top: 13px;
        left: 10px;
    }
    
    .chevronD-part1
    {
        top: 13px;
        left: 14px;
    }
    
    .chevronD-part2
    {
        top: 22px;
        left: 14px;
    }
    
    .bloc-training
    {
        width: 90%;
    }
    
    .bloc-coach
    {
        flex-direction: column;
        text-align: center;
        width: 90%;
    }
    
    .bloc-coach .profilPictureVide
    {
        margin-top: -20px;
    }
    
    .bloc-coach .profilPictureVide em, .bloc-coach .profilPicture img
    {
        margin-left: 0;
    }
    
    .blocInfosEquipes h2
    {
        width: 90%;
    }
    
    #equipe_memberClubs, #member_club_fonctionClub
    {
        width: 100% !important;
    }
    
    #equipe_memberClubs label, #member_club_fonctionClub label
    {
        position: relative;
        top: -25px;
    }
    
    #equipe_memberClubs input, #member_club_fonctionClub input
    {
        margin-left: 40px;
    }
    
    
    /* PAGE ARTICLE */
    
    .postContent .imageImportant
    {
        width: 240px !important;
        height: 170px !important;
    }
    
    .blocAutrePhotoArticle
    {
        margin-bottom: 250px;
    }
    
    .blocAutrePhotoArticle .play, .blocAutrePhotoArticle .pause, .blocAutrePhotoArticle .chevron-gauche,
    .blocAutrePhotoArticle .chevron-droit
    {
        top: 60px;
    }
    
    .addPhotoArticle
    {
        margin-bottom: -200px;
    }
    
    .addPhotoArticle p
    {
        padding: 5px;
    }
    
    /* Page Home */
    
    .blocDiapo
    {
        display: none;
    }
    
    /* Page club */
    
    .h3Club
    {
        width: 80%;
    }
    
    .trombiBureau
    {
        width: 80%;
    }
    
    .sponsors .play, .sponsors .pause, .sponsors .chevron-gauche, .sponsors .chevron-droit
    {
        top: 58px;
    }
    
                                        /* Page Photo */
    
    .allPhotos img
    {
        width: 250px;
        height: 200px;
    }
    
                                        /* Gestion Boutique */
    
    #photo-fields-list, .add-another-collection-widget
    {
        margin-top: 20px;
    }
    
    .ajoutBoutique
    {
        flex-direction: column;
    }
    
    .ajoutBoutique a:nth-child(1)
    {
        margin-bottom: 30px !important;
        margin-right: auto;
    }
    
    .ajoutBoutique a
    {
        width: 90%;
        margin: auto;
    }
    
    .blocProduit
    {
        flex-direction: column;
    }
    
    .choixProduit, .addTailleForm label, .addTailleForm input, #taille_color, #color_produit
    {
        width: 100% !important;
    }
    
    .addTailleForm div
    {
        flex-direction: column;
    }
    
    .produitAffichage
    {
        width: 80%;
    }
    
    .actionColor, .actionTaille
    {
        flex-direction: row !important;
    }
    
    .ajoutBoutique a:nth-child(1), .ajoutBoutique a:nth-child(2)
    {
        margin-right: auto;
        margin-bottom: 30px;
    }
    
    .legend
    {
        width: 90%;
        margin: auto;
        margin-top: 50px !important;
    }
    
    .blocGestionProduit
    {
        width: 80%;
    }
    
    .imageImportanteProduit
    {
        width: 280px;
        height: 250px;
        cursor: initial;
    }
    
    .vente .images
    {
        flex-direction: column;
        margin-top: 0;
    }
    
    .vente h3
    {
        margin-left: 3%;
        margin-right: 3%;
    }
    
    .miniature
    {
        width: 280px;
        cursor: initial;
        margin: auto;
        margin-top: 30px !important;
    }
    
    .viewOrder
    {
        width: 80%;
    }
    
    .viewOrder .confirm
    {
        margin-top: -282px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* Footer, cookies & Mentions légales */
    
    .footer
    {
        flex-direction: column;
        height: 250px;
        font-size: 0.9em;
    }
    
    .footerMention
    {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin-top: 20px;
    }
    
    .footerMention p
    {
        margin-right: 10px;
    }
    
    .footerContact
    {
        width: 90%;
    }
    
    .footerFacebook
    {
        flex-direction: row;
        width: 90%;
        justify-content: space-around;
        margin-left: 8px;
    }
    
    .footerFacebook a
    {
        margin: 0;
    }
    
    .footerFacebook a em
    {
        margin-top: -4px;
    }
    
    
}

