<div class="footer">
    <div class="footerMention">
        <p>© <a href="https://robin-poncon.com">Robin Ponçon</a> | 2020 </p>
        <a href="{{ path("mentions-legales") }}">Mentions Légales</a>
    </div>
    <div class="footerContact">
        <p>Pour toutes questions, vous pouvez nous contacter à <strong>basket.meximieux.contact@gmail.com</strong>
            ou bien via notre <a href="{{ path("contact") }}">Formulaire</a>.
        </p>
    </div>
    <div class="footerFacebook">
        <p>Suivez-nous sur</p>
        <a href="https://www.facebook.com/BC-Meximieux-500893880260652/"><em class="fab fa-facebook"></em></a>
    </div>
</div>