{% extends "base.html.twig" %}

{% block title %} Envoie de photo {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success SuccessContact">
            {{ message }}
        </div>
    {% endfor %}

    <h1> Comment nous envoyer vos photos ? </h1>
    <h2> Utilisation de wetransfert </h2>
    {% for article in articles %}
        <div class="postClub">
            <h3><em class="fas fa-basketball-ball"></em>{{ article.title }}</h3>
            <div>
                {{ article.content | raw}}
            </div>
            {% if is_granted("ROLE_EDITOR") %}
                <a href="{{ path("modifierArticleClub", {"slug": article.slug}) }}">Modifier</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}