{% block nav %}
    <div id="nomClub">
        <h1 id="name"><a href="{{ path("home") }}">BCM MEXIMIEUX BASKET</a></h1>
        <div id="connexion">
            <a href="#"> Connexion </a>
            <p> | </p>
            <a href="#"> Inscription </a>
        </div>
    </div>
    <nav>
        <ul id="navigation-left">
            <li>
                <a href="{{ path("home") }}"> Accueil </a>
            </li>
            <li>
                <a href="#"> LE CLUB </a>
            </li>
            <li>
                <a href="#"> EQUIPES </a>
            </li>
        </ul>

        <div id="logo">
            <a href="{{ path("home") }}"><img src="pictures/logo-meximieux.png" alt="logo club de basket de Meximieux"></a>
        </div>

        <ul id="navigation-right">
            <li>
                <a href="#"> PHOTOS </a>
            </li>
            <li>
                <a href="#"> TOURNOIS </a>
            </li>
            <li>
                <a href="#"> CONTACT </a>
            </li>
        </ul>
    </nav>
{% endblock %}