{% block nav %}
    <div id="nomClub">
        <h2 id="name"><a href="{{ path("home") }}">BCM MEXIMIEUX BASKET</a></h2>
        <div id="connexion">
            <a href="#"> Connexion </a>
            <p> | </p>
            <a href="#"> Inscription </a>
        </div>
    </div>
    <nav class="menu">
        <div id="navigation-left">
            <p>
                <a href="{{ path("home") }}"> Accueil </a>
            </p>
            <p>
                <a href="#"> LE CLUB </a>
            </p>
            <p>
                <a href="#"> EQUIPES </a>
            </p>
        </div>

        <div id="logo">
            <a href="{{ path("home") }}"><img src="pictures/logo-meximieux.png" alt="logo club de basket de Meximieux"></a>
        </div>

        <div id="navigation-right">
            <p>
                <a href="#"> PHOTOS </a>
            </p>
            <p>
                <a href="#"> TOURNOIS </a>
            </p>
            <p>
                <a href="{{ path("contact") }}"> CONTACT </a>
            </p>
        </div>
    </nav>
{% endblock %}