<h1>Bonjour utilisateur ! </h1>

<p>Cette personne vous a contacté</p>

<p> Nom : {{ contact.surname }}</p>
<p> Prénom : {{ contact.name }}</p>

<h2> Voici son message </h2>

<p>{{ contact.message }}</p>