
<h1 style="color: #074592; font-weight: bold">Bonjour Administrateur </h1>

<p>Vous avez été contacté par <span style="color: #074592; font-weight: bold">{{ contact.surname | upper }} {{ contact.name | upper}}</span></p>

<h2 style="color: #074592; font-weight: bold"> Voici son message </h2>

<p style="font-style: italic;">{{ contact.message }}</p>

