{% extends "base.html.twig" %}

{% block title %} Administration du compte {% endblock %}

{% block body %}

    {% include "security/admin/compte.nav.html.twig" %}
    <h1> Gestion Compte </h1>

{% endblock %}