{% extends "base.html.twig" %}

{% block title %} Espace Compte {% endblock %}

{% block body %}

    {% include "security/compte/compte.nav.html.twig" %}
    <h1> Gestion Compte </h1>

{% endblock %}