
{% block body %}
    <img class="icone-panier" src="{{ asset("pictures/panier-icone.png") }}" alt="icone de panier de basket">
    <h1>Erreur 404 ! La page que vous avez demandé n'existe plus !</h1>
    <p class="position-relative text-center">Nous nous excusons pour ce désagrément. Vous pouvez retourner sur l'accueil ->
        <a href="{{ path("home") }}">ICI</a>
    </p>

{% endblock %}